#coachCard {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 10px;
}

.cardTitle {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.miniCard {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0 10px 0;
}

.bodyIcon,
.positionIcon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  align-self: center;
  background-size: 120% 120%;
  padding: 0 5px 0 5px;
}

.bodyIcon {
  color: rgba(127, 46, 114, 1);
  background-color: rgba(127, 46, 114, 0.3);
  border: none;
}
.positionIcon {
  color: rgba(46, 65, 127, 1);
  background-color: rgba(46, 65, 127, 0.3);
  border: none;
}

.valueHeader,
.value {
  font-size: 10px;
  font-weight: 400;
  color: black;
  white-space: nowrap;
  line-height: 100%;
}
.value {
  font-size: 25px;
  font-weight: 400;
}

#posValue {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
