.history_table {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 150px;
}

.option_btn {
  margin: 0;
}

.MUIDataTableHeadCell-contentWrapper-56 {
  justify-content: center;
  margin: 0 0 0 20px;
}

.MUIDataTableBodyCell-root-67 .MUIDataTableBodyCell-stackedCommon-72 {
  text-align: center;
}
