.signin_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

.signin_email,
.signin_pw {
  width: 90%;
  height: 50px;
  border: black 1px solid;
  padding: 10px;
}

.signin_submit,
.goto_reg {
  width: 80%;
  height: 50px;
  background: rgb(30, 167, 53);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 500;
}

.goto_reg,
.goto_reg:hover {
  background: rgb(192, 187, 187);
}

.split {
  display: flex;
  flex-direction: row;
}

hr {
  color: black;
  height: 1px;
  border: none;
  background: black;
  width: 150px;
  margin: 10px;
}

.or {
  line-height: 20px;
}

.input_wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signin_icon {
  margin: 0 20px 0 0;
  font-size: 25px;
}
