.trainee_card {
  background: none;
  border: none;
  width: 300px;
}

.cardTitle {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitleCorrect {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  color: green;
}

.cardTitleWrong {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  color: red;
}

.miniCard {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0 10px 0;
}

.bodyIcon,
.stopwatchIcon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  align-self: center;
  background-size: 120% 120%;
  padding: 0 5px 0 5px;
}

.bodyIcon {
  color: rgba(127, 46, 114, 1);
  background-color: rgba(127, 46, 114, 0.3);
  border: none;
}
.stopwatchIcon {
  color: rgba(234, 158, 45, 1);
  background-color: rgba(234, 158, 45, 0.3);
  border: none;
}

.valueHeader,
.value {
  font-size: 20px;
  font-weight: 300;
  color: black;
  white-space: nowrap;
  line-height: 100%;
}
.value {
  font-size: 30px;
  font-weight: 400;
}

.valueCorrect {
  font-size: 30px;
  font-weight: 400;
  color: black;
}

.valueWrong {
  font-size: 30px;
  font-weight: 400;
  color: red;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0;
}

.position_label {
  position: absolute;
  text-align: center;
  background-color: rgba(52, 77, 160, 0.8);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(90px, -80px);
  font-weight: 800;
  font-size: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border: dashed black 2px;
}

.position_label_a {
  position: absolute;
  text-align: center;
  background-color: rgba(52, 77, 160, 0.8);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(160px, -80px);
  font-weight: 800;
  font-size: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border: dashed black 2px;
}

.label_wrapper {
  /* border: 1px solid black; */
  width: fit-content;
}
